extends ../layout.pug

block content
  main.ph2.pv1.pa4-ns.black-80
    form.measure.center.mt3.vh-60.bg-white.ph5-ns.ph2.pv5.br2.shadow-3(action="/auth/login", method="POST")
      fieldset#login.ba.b--transparent.ph0.mh0
        legend.tc.f4.fw6.ph0.mh0 Please login to continue
        .mt3
          label.mb1.db.fw6.lh-copy.f(for="email-address") Email:
          input#email.pa2.input-reset.ba.br2.bg-transparent.hover-bg-washed-blue.w-100(type="email", name="email", required)
        
        .mv3
          label.mb1.db.fw6.lh-copy.f(for="password") Password:
          input#password.pa2.input-reset.ba.br2.bg-transparent.hover-bg-washed-blue.w-100(type="password", name="password", required)
      div.tc
        input.w4.mt5(type="submit", value="Login" class= button.secondary)
      