extends ../layout.pug

block content
  main.measure.center.pv2.ph1.pa4-ns.black-80
    form.bg-white.vh-75.pa2.pt4.br2.shadow-2(action="/auth/signup", method="POST")
      fieldset#sign_up.ba.b--transparent.ph0.mh0
        legend.tc.f4.fw6.ph0.mh0 Enter your information to sign up 
        .mt3
          label.db.fw4.lh-copy.f6(for="email") Email
          input#email.pa2.input-reset.ba.bg-transparent.w-100.measure(type="email", name="email", value= prevData.username, required)
        .mt3
          label.db.fw4.lh-copy.f6(for="firstName") First Name
          input#firstName.pa2.input-reset.ba.bg-transparent.w-100.measure(type="text", name="firstName", value= prevData.firstName, required)
          label.db.fw4.lh-copy.f6(for="lastName") Last Name
          input#lastName.pa2.input-reset.ba.bg-transparent.w-100.measure(type="text", name="lastName", value= prevData.lastName, required)
        .mt3
          label.db.fw4.lh-copy.f6(for="password") Password
          input#password.pa2.input-reset.ba.bg-transparent.w-100.measure(type="password", name="password", required)
          label.db.fw4.lh-copy.f6(for="password_verify") Verify Password
          input#password_verify.pa2.input-reset.ba.bg-transparent.w-100.measure(type="password", name="password_verify", required)
        .mt3
          label.db.fw4.lh-copy.f6(for="dob") Date of Birth 
          input#dob.pa2.input-reset.ba.bg-transparent.w4.center.measure(type="date", name="dob", value=prevData.dob, required)
      
      .mt3.tc
        input.w4.mt4(type="submit", value="Sign Up" class= button.secondary)
