extends ../layout.pug
include ../mixins/pace_and_distance.pug

block content
  form.user-card-container.bg-white.w8-ns.w-95.pa2.center.mb4.br2.shadow-1.flex.flex-column.justify-around(action="/profile?_method=PUT" method="POST")
    img#currentPhoto.w-100.mb1(src= profile.photo, alt="Profile Picture")
    #upload_widget.w5.h2.pointer.mb2.center(class= button.secondary) Upload New Photo

    label(for="displayName") Display Name:
    input.w-95.mb2(type="text", name="displayName", value= profile.displayName)
    
    label(for="location") Display Location:
    input.w-95.mb1(type="text", name="locationDummy", value= profile.displayLocation, disabled)

    a.h2.w5.mb2.center(href="/profile/location", class= button.secondary) Update Location 

    label.f4(for="desiredPace") Desired Paces 
      span.f6 (Check all that apply):
    .w-100.center.flex.flex-row.justify-center.items-center.mb2
      .flex.flex-column.justify-center.items-center.w4
        h4.f5.ma0 Leisurely
        +desiredPace(1)
        input(type="checkbox", name="desiredPace", value="1", checked= !!(profile.desiredPace & 1)) 
      .flex.flex-column.justify-center.items-center.w4
        h4.f5.ma0 Casual 
        +desiredPace(2)
        input(type="checkbox", name="desiredPace", value="2", checked= !!(profile.desiredPace & 2))
      .flex.flex-column.justify-center.items-center.w4
        h4.f5.ma0 Brisk
        +desiredPace(4)
        input(type="checkbox", name="desiredPace", value="4", checked= !!(profile.desiredPace & 4))
      .flex.flex-column.justify-center.items-center.w4
        h4.f5.ma0 Running
        +desiredPace(8)
        input(type="checkbox", name="desiredPace", value="8", checked= !!(profile.desiredPace & 8))

    label.f4(for="desiredDistance") Desired Distances 
      span.f6 (Check all that apply):
    .w-100.center.flex.flex-row.justify-center.items-center.mb2
      .flex.flex-column.justify-center.items-center.w4
        h4.f6.ma0 Short (<5mi)
        +desiredDistance(1)
        input(type="checkbox", name="desiredDistance", value="1", checked= !!(profile.desiredDistance & 1)) 
      .flex.flex-column.justify-center.items-center.w4
        h4.f6.ma0 Mid (6-15 mi)
        +desiredDistance(2)
        input(type="checkbox", name="desiredDistance", value="2", checked= !!(profile.desiredDistance & 2))
      .flex.flex-column.justify-center.items-center.w4
        h4.f6.ma0 Long (16+ mi)
        +desiredDistance(4)
        input(type="checkbox", name="desiredDistance", value="4", checked= !!(profile.desiredDistance & 4))
      .flex.flex-column.justify-center.items-center.w4
        h4.f6.ma0 Multi-Day
        +desiredDistance(8)
        input(type="checkbox", name="desiredDistance", value="8", checked= !!(profile.desiredDistance & 8))

    label(for="summary") A short blurb about yourself:
    textarea#summary.w-95.mb2(name="summary", cols="30", rows="10")= profile.summary 

    input#photoUrl(type="hidden", name="photo", value= profile.photo)

    input.w4.center(class= button.primary, type="submit", value="Update")

block scripts
  script(src="https://widget.cloudinary.com/v2.0/global/all.js")
  script.
    const cloudinaryWidget = cloudinary.createUploadWidget({
      cloudName: 'deluxington', 
      uploadPreset: 'hikr_profile_photos',
      cropping: true,
      croppingAspectRatio: 2,
    }, afterUpload);

    document.getElementById("upload_widget").addEventListener("click", function(){
        cloudinaryWidget.open();
      }, false);
    
    function afterUpload(error, result) {
      console.log(error, result);
      if (result.info.secure_url) {
        const url = result.info.secure_url;
        const currentPhoto = document.getElementById('currentPhoto');
        currentPhoto.src = url;
        const photoUrl = document.getElementById('photoUrl');
        photoUrl.value = url;
      }
    }


