extends ../layout.pug

block content
  form.bg-white.w8-ns.w-95.pa2.center.mb4.br2.shadow-1.flex.flex-column.justify-around(action="/profile/location-selector" method="GET")
    label(for="city") City:
    input.w-95.mb2(type="text", name="city" required)

    label(for="state") State:
    input.w-95.mb2(type="text", name="state" required)

    input.w4.center(class= button.secondary, type="submit", value="Search")

