-
  const nav = {
    link: "link dib white dim hover-black mh0 mh2-ns pb1",
    icon: "material-icons f1 w3 h3 pa0 ma0 tc lh-copy",
    dropdown_btn: "f6 tc w2 h2 w3-ns tc dib white bg-animate hover-bg-white hover-black no-underline pv1 ph0 br3 ba bg-black b--white-20",
    dropdown_link: "pa1 link db hover-bg-white hover-black white b--white-20",
    dropdown_hidden: "dropdown-content dn absolute w3 shadow-1 z-1 right-1 top-2 bg-black",
    sign_up: "f5 w3 w4-ns tc dib white bg-black bg-animate hover-bg-white hover-black no-underline pv2 ph4-ns br3 ba b--white-20",
  };

  const chat = {
    msg: "list",
    msg_content: "tl f4 mv1 br4 ph3 pv2 pt1 mw-95 word-wrap garamond black shadow-3-1",
    sent: "float-right bg-light-green",
    received: "float-left bg-light-blue",
    padding: "overflow-hidden w-100",
  };
  
  const button = {
    primary: "h3 dib pa1 bg-light-green hover-bg-dark-green f2 br2 no-underline grow black hover-white lh-copy tc shadow-2",
    secondary: "h2 dib pa1 bg-light-blue hover-bg-dark-blue f3 br2 no-underline grow black hover-white lh-solid tc shadow-2",
    yep: "fl w-33 h2 h3-ns bg-light-green f3 br2",
    nope: "fl w-33 h2 h3-ns bg-light-red f3 br2",
  };
