-
  const nav = {
    link: "f6 link div white dim mr3 mr4-ns",
    dropdown_btn: "f6 dib white bg-animate hover-bg-white hover-black no-underline pv2 ph4 br-pill ba bg-dark-green b--white-20",
    dropdown_link: "pa1 link db hover-bg-white hover-black white b--white-20",
    dropdown_hidden: "dropdown-content dn absolute w3 shadow-1 z-1 right-1 top-2 bg-dark-green",
    sign_up: "bg-dark-green",
  };

  const chat = {
    msg: "list",
    msg_content: "tl f2 mv1 br4 ph3 pv2 pt1 mw-95 word-wrap garamond black shadow-3-1",
    sent: "float-right bg-light-green",
    received: "float-left bg-light-blue",
    padding: "overflow-hidden w-100",
  };
  
  const button = {
    primary: "h3 dib pa1 bg-light-green hover-bg-dark-green f2 br2 no-underline grow black hover-white lh-copy tc shadow-2",
    secondary: "h2 dib pa1 bg-light-blue hover-bg-dark-blue f3 br2 no-underline grow black hover-white lh-solid tc shadow-2",
    yep: "fl w-33 h2 h3-ns bg-light-green f3 br2",
    nope: "fl w-33 h2 h3-ns bg-light-red f3 br2",
  };
