-
  const nav = {
    link: "f6 link div white dim mr3 mr4-ns",
    dropdown_btn: "f6 dib white bg-animate hover-bg-white hover-black no-underline pv2 ph4 br-pill ba bg-black b--white-20",
    dropdown_link: "pa1 link db hover-bg-white hover-black white b--white-20",
    dropdown_hidden: "dropdown-content dn absolute w3 shadow-1 z-1 right-1 top-2 bg-black",
  };

  const chat = {
    msg: "list",
    msg_content: "tl f2 mv1 br4 ph3 pv2 pt1 mw-95 word-wrap garamond black shadow-3-1",
    sent: "float-right bg-light-green",
    received: "float-left bg-light-blue",
    padding: "overflow-hidden w-100",
  }