a.f6.link.div.white.dim.mr3.mr4-ns(href="/search") Search
a.f6.link.div.white.dim.mr3.mr4-ns(href="/conversation") Conversations
a.f6.link.div.white.dim.mr3.mr4-ns(href="/auth/logout") Logout
a.f6.dib.white.bg-animate.hover-bg-white.hover-black.no-underline.pv2.ph4.br-pill.ba.b--white-20(href="/profile")= user.profile.displayName