a(href="/search", class= nav.link) Search
a(href="/conversation", class= nav.link) Conversations
div.dropdown.relative.dib
  button(class= nav.dropdown_btn)= user.profile.displayName
    div(class= nav.dropdown_hidden)
      a(href="/profile", class= nav.dropdown_link) Profile
      a(href="/profile/edit", class= nav.dropdown_link) Edit
      a(href="/auth/logout", class= nav.dropdown_link) Logout
