doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="X-UA-Compatible" content="ie=edge")
    title Hikr 

    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    link(rel="stylesheet", href="/css/tachyons.min.css", type="text/css")

    script(src="/socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src="/js/sockets.js")

  body
    include partials/header

    .container
      block alerts
        each alert in alerts
          p= alert

      block content

    script(src="/js/scripts.js")
    block scripts
