include partials/components

doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="X-UA-Compatible" content="ie=edge")
    title Hikr 

    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="/css/styles.css", type="text/css")
    link(rel="stylesheet", href="/css/tachyons.min.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css")


  body
    include partials/header

    .container
      block alerts
        ul#alerts
        each alert in alerts
          li= alert

      block content

    script(src="/js/scripts.js")
    script(src="/socket.io/socket.io.js")
    block scripts
