<h1>LOGIN!</h1>


<div class="form-container row">
<form action="/auth/login" method="POST">
  <div class="row">
    <div class="input-field col s12">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" required>
    </div>

    <div class="input-field col s12">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>

    <button class="btn waves-effect waves-light col s6 offset-s3 m4 offset-m4" type="submit">Login</button>

  </div>
</form>
</div>