/* Dropdown menu on nav bar */
.dropdown:hover .dropdown-content {
  display: block;
}

.word-wrap {
  word-break: break-word;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.tiny-icon {
  width: 10px;
}

.mw-95 {
  max-width: 95%;
}

.w-95 {
  width: 95%;
}

.vh-90 {
  height: 90vh;
}

.shadow-1-l {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
}

.shadow-2-l {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
}

.shadow-3-l {
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.shadow-4-l {
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.shadow-5-l {
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2);
}
