html {
  scroll-behavior: smooth;
}

/* Dropdown menu on nav bar */
.dropdown:hover .dropdown-content {
  display: block;
}

.word-wrap {
  word-break: break-word;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.tiny-icon {
  width: 10px;
}

.mw-95 {
  max-width: 95%;
}

.w-95 {
  width: 95%;
}

.vh-90 {
  height: 90vh;
}

.min-vh-90 {
  min-height: 90vh;
}

.force-to-top {
  margin-bottom: auto;
}

.bg-forest {
  background-image: url('../images/trees.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-mountain {
  background-image: url('../images/mountain_bg.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg-muted {
  background-color: rgba(53, 39, 31, 1);
}

.lh-h2 {
  line-height: 2rem;
}

.hidden {
  position: absolute;
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 30em) {
  .w8-ns {
    width: 30rem !important;
  }

  .lh-h3-ns {
    line-height: 4rem;
  }
}
