extends ../layout.pug
include ../mixins/pace_and_distance.pug

block content
  h1.tc Find New People
  h2.tc How about this person?

  .user-card-container.w-75-ns.w-95.vh-90.pa2.center.mb4.br2.shadow-1.flex.flex-column.justify-around
    .row.flex.flex-column
      .col.fl.w-50.pa2.center
        img.img.br2(src= nextUser.photo, alt= nextUser.displayName + "'s profile photo")
      .col.fl.w-50-ns
        h1.db.row.w-100.pv2-ns.ma0.tc= nextUser.displayName 
        h2.db.row.w-100.pv1-ns.ma0.tc= nextUser.location
    .row
      .col.fl.w-50.h2.flex.justify-center
        +desiredPace(nextUser.desiredPace)
      .col.fl.w-50.h2.flex.justify-center
        +desiredDistance(nextUser.desiredDistance)
    .row.h5
      p.db.col.fl.pa1.w-100.h-100.ba.br2.ma0.overflow-scroll= nextUser.summary
    .row.flex.justify-around
      button#nope.col.fl.w-33.h2.h3-ns.bg-light-red.f3.br2 Nope
      button#yep.col.fl.w-33.h2.h3-ns.bg-light-green.f3.br2 Yep
  
block scripts
  script(src="/js/search/search.js")

