<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Birthday Clowns 🤡</title>

  <!-- Materialize CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/materialize.min.css" type="text/css">
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>

  <% include partials/header %> 

  <div class="container">
    <% include partials/alerts %> 
    <%- body %>
  </div>

  <!-- Materialize JS -->
  <script src="/js/materialize.min.js"></script> 
  <script src="/js/scripts.js"></script> 
</body>
</html>