mixin hikr_logo(classes)
  .pa0.ma0(class= classes)
    svg(class="w-100", xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 376 188")
      defs
        clipPath#clip-path
          path#Path_253(data-name="Path 253" d="M512.4,560.564l-15.654-26.742-5.3,14.407-23.864-52.671L404.744,617.952l-41.082-78.363-22.449,49.549-15.434-34.065-3.162,6.16-26-44.424-16.106,43.755L264.75,517.757,192.374,641.4H568.553L528.606,532.874Z" fill="none")
      g#Group_24(data-name="Group 24" transform="translate(-274.374 -206.44)")
        g#Group_1(data-name="Group 1" transform="translate(82 -227)")
          path#Path_250(data-name="Path 250" d="M296.612,516.809l26,44.424,3.162-6.16L301.915,502.4Z" fill="none")
          path#Path_251(data-name="Path 251" d="M467.577,495.558l23.864,52.671,5.3-14.407-26-44.424Z" fill="none")
          path#Path_252(data-name="Path 252" d="M512.4,560.564l-15.654-26.742-5.3,14.407-23.864-52.671L404.744,617.952l-41.082-78.363-22.449,49.549-14.1-20.127-4.492-7.778-26-44.424-16.106,43.755L264.75,517.757,192.374,641.4H568.553L528.606,532.874Z" transform="translate(0 -20)")
          path#Path_254(data-name="Path 254" d="M429.694,507.559l-41.082-74.88L325.779,549.633l15.434,32.551,22.449-47.347,41.082,74.88,62.833-116.954-15.434-32.551Z" transform="translate(0 6)" stroke="#000" stroke-width="5")
          path#Path_255(data-name="Path 255" d="M496.743,533.822,512.4,560.564l16.209-27.69-15.757-42.806Z" transform="translate(0 7)" fill="currentcolor" stroke="#000" stroke-width="5")
          path#Path_256(data-name="Path 256" d="M296.612,517.695l-15.654-27.627L264.75,518.674,280.506,562.9Z" transform="translate(0 -15.669)" fill="currentcolor" stroke="#000" stroke-width="5")
          path#Path_257(data-name="Path 257" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-130.046 -51)" fill="currentcolor" stroke="#000" stroke-width="5")
          path#Path_258(data-name="Path 258" d="M496.743,533.822l18.61,26.742,19.27-27.69-18.733-42.806Z" transform="translate(-63.046 -23)" fill="currentcolor" stroke="#000" stroke-width="5")
          path#Path_259(data-name="Path 259" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-233.046 10)" stroke="#000" stroke-width="5")
          path#Path_260(data-name="Path 260" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-123.046 -15)" stroke="#000" stroke-width="5")
          path#Path_261(data-name="Path 261" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-136.046 -6)" stroke="#000" stroke-width="5")
          path#Path_262(data-name="Path 262" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-70.046 18)" stroke="#000" stroke-width="5")
          path#Path_263(data-name="Path 263" d="M496.743,533.822l18.7,26.742,19.367-27.69-18.827-42.806Z" transform="translate(5.954 42)" stroke="#000" stroke-width="5")
          path#Path_264(data-name="Path 264" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-116.046 -13)" stroke="#000" stroke-width="5")
          path#Path_265(data-name="Path 265" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-12.046 49)" stroke="#000" stroke-width="5")
          path#Path_266(data-name="Path 266" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-246.046 8)" stroke="#000" stroke-width="5")
          path#Path_267(data-name="Path 267" d="M496.743,533.822l21.572,26.742,22.337-27.69-21.714-42.806Z" transform="translate(-239.046 28)" stroke="#000" stroke-width="5")
        text#hikr(transform="translate(333 395)" fill="currentcolor" font-size="150" font-family="Avenir-Heavy, Avenir" font-weight="800" opacity="0.997")
          tspan(x="0" y="0") hikr