<% if (alerts.error) { %>
  <% alerts.error.forEach(msg => { %>
    <div class="alert-msg error-msg hide">
      <%= msg %> 
    </div>
  <% }); %>
<% } %>

<% if (alerts.success) { %>
  <% alerts.success.forEach(msg => { %>
    <div class="alert-msg success-msg hide">
      <%= msg %> 
    </div>
  <% }); %>
<% } %>