<header>
  <nav>
    <div class="nav-wrapper purple lighten-2">
      <a href="/" class="brand-logo"><i class="material-icons">face</i>Birthday Clowns</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <% if (user) { %>
        <ul class="right hide-on-med-and-down">
          <li><a href="/profile">Profile</a></li>
          <li><a href="/auth/logout">Logout</a></li>
        </ul>
      <% } else { %>
        <ul class="right hide-on-med-and-down">
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/auth/signup">Sign Up</a></li>
        </ul>
      <% } %>

    </div>
  </nav>

  <% if (user) { %>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/auth/logout">Logout</a></li>
    </ul>
  <% } else { %>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/signup">Sign Up</a></li>
    </ul>
  <% } %>

</header>